/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Reset*/

body {
  background-color: #f9f9f9;
  font-family: 'Lato', sans-serif;
}

a {
  -o-transition:5s;
  -ms-transition:5s;
  -moz-transition:5s;
  webkit-transition:5s;
  transition:.2s;
  text-decoration: none;
}

 a:hover {
  color: #da3;
}

em {
  font-style: oblique;
}

strong {
  font-style: bold;
}

img {
  width: 100%;
}

h1,h2,h3,h4,h5 {
  font-style: normal;
}

h3 {
  text-transform: uppercase;
  font-size: 1em;
  padding: 0 0 5% 0;
  color: #999;
  font-weight: 300;
}

.intro {
  max-width: 960px;
  margin: 0 auto;
  padding: 8% 0;
}

.intro h1 {
  font-size: 1.5em;
  text-align: left;
  color: #222;
  letter-spacing: 0.1em;
  font-weight: 400;
  line-height: 1.5em;
}

/*This is for links within the intro*/
/* .intro p a {
  color: #012;
} */


/*This is for later styling of a h2 within the intro*/
/* .intro h2 {
  font-size: 1em;
  text-align: left;
  color: #333;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-weight: 800;
  line-height: 1.5em;
} */


.project-list {
  margin: 0 auto;
  max-width: 960px;
}

.project-small {
  margin-bottom: 10%;
}

.post-item {
  height: 240px;
  padding: 2% 0%;
}

.post-item h2 {
  padding-left: 4% 0;
  padding-bottom: 4%;
  font-size: 1.5em;

}

.project-text {
  float: left;
  text-align: left;
  width: 40%;
  background-color: #fff;
  height: 100%;
  padding: 4% 4%;
  margin-right: 5%;
}

.project-text p {
  line-height: 1.8;
  color: #333;
  letter-spacing: .03em;
  font-size: 1em;
  font-weight: 300;
}

.project-pic {
  width: 40%;
  max-height: 240px;
  overflow: hidden;
  float: right;
}

ul {
  list-style: none;
}
li{
  display: inline-block;
}
a {
  text-decoration: none;
}

.content {
  margin: 32px;
}
.menu .nav {
  /* display: inline-block;
  float: right;
  margin: 2%;
  overflow: hidden; */
}
.menu-item {
  padding-left: 16px;
  display: inline-block;
}



.project-list {
  padding: auto;
}

.post-item {
  /* margin-bottom: 32px; */
}
