/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Reset*/

body {
  background-color: #fcfcfc;
  font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
font-feature-settings: "kern";
font-kerning: normal;
}

a {
  -o-transition:200ms;
  -ms-transition:200ms;
  -moz-transition:200ms;
  webkit-transition:200ms;
  transition:200ms;
  text-decoration: none;
}

 a:hover {
  color: #da3;
}

em {
  font-style: oblique;
}

strong {
  font-style: bold;
}

img {
  width: 100%;
}

h1,h2,h3,h4,h5 {
  font-style: normal;
}

h3 {
  text-transform: uppercase;
  font-size: 1em;
  padding: 0 0 5% 0;
  color: #333;
  font-weight: 300;
}

.menu {
  list-style: none;
  display: block;
}

li {
  display: inline-block;
}
a {
  text-decoration: none;
}


.nav .nav-right .menu {
  display: inline-block;
  text-align: right;
  float: right;
  margin: 5%;
  font-size: 1em;


}
.menu-item {
  padding-left: 16px;
  display: inline-block;
}

.content {margin: 0 10%;}

.intro {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 8%;
}

.intro h1 {
  font-size: 1.5em;
  text-align: left;
  color: #333;
  letter-spacing: 0.01em;
  font-weight: 300;
  line-height: 1.7em;
}

/*This is for links within the intro*/
/* .intro p a {
  color: #012;
} */


/*This is for later styling of a h2 within the intro*/
/* .intro h2 {
  font-size: 1em;
  text-align: left;
  color: #333;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-weight: 800;
  line-height: 1.5em;
} */

.social .social-bar .social-icons {
  display: inline-block;
  text-align: left;
  float: left;
  font-size: 1em;
  padding-bottom: 8%;
  padding-top: 4%;


}
.icon-link {
  padding-right: 16px;
  display: inline-block;

}

.project-list {
  margin: 0 auto;
  max-width: 960px;
}

.project-small {
  margin-bottom: 10%;
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.project-small:hover {
  box-shadow: 0px 0px 10px #ddd;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.post-item {
  height: 240px;
  padding: 2% 0%;
  margin: 0 auto;
}


.post-item h2 {
  padding-left: 4% 0;
  padding-bottom: 4%;
  font-size: 1.5em;
}

.project-text {
  float: left;
  text-align: left;
  width: 40%;
  /* background-color: #fff; */
  /* height: 100%; */
  padding: 4% 4%;

}

.project-text p {
  line-height: 1.8;
  color: #333;
  letter-spacing: .03em;
  font-size: 1em;
  font-weight: 300;
}


.project-pic {
  width: 40%;
  max-height: 240px;
  overflow: hidden;
  float: left;
  padding: 4% 4%;

}


.clearfix::after {
    content: "";
    visibility: hidden;
    clear: both;
    display: block;
}




/* @media screen and (max-width: 640px) {


  .intro {
    padding: 4% 0%;
    margin: 0 10%;
  }

  .intro h1 {
    font-size: 1.5em;
    line-height: 3.5em;
  }

  .project-list {
    padding: 4% 0;
    margin: 0 10%;
  }

  h3 {
    font-size: 2.5em;
  }


  .post-item h2 {
    font-size: 3em;
  }

  .project-text {
    width: 100%;
    background-color: #fff;
    height: 100%;
    padding: 8% 0;
    margin-right: 0;
  }

  .project-text p {
    line-height: 1.8;
    font-size: 2.5em;
    padding-bottom: 4%;
  }



    .project-pic {
      width: 100%;
      max-height: 480px;
      overflow: hidden;
      float: left;

    }
  }

@media screen and (max-width: 800px) {

  .intro h1 {
    font-size: 2.5em;
    line-height: 2em;
  }

  .post-item h2 {
    padding-left: 4% 0;
    padding-bottom: 4%;
    font-size: 1.5em;

  }

  .project-text {
    float: left;
    width: 40%;
    padding: 4% 4%;
  }

  .project-text p {
    line-height: 1.8;
    color: #333;
    letter-spacing: .03em;
    font-size: 1em;
    font-weight: 300;
  }

  .project-pic {
    width: 40%;
    max-height: 240px;
    overflow: hidden;
    float: left;
  }






} */
