/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Reset*/

body {
  background-color: #fcfcfc;
  font-family: 'Josefin Sans', sans-serif;
  color: #333;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  font-kerning: normal;

}

/* #upper-home {
	position: fixed;
} */




#particles-js {
	width: inherit;
	height: inherit;
	position: absolute;
  top:20px;
  right:0;
  bottom:0;
  left:0;
  z-index:-20;

}





a {
  -o-transition:200ms;
  -ms-transition:200ms;
  -moz-transition:200ms;
  webkit-transition:200ms;
  transition:200ms;
  text-decoration: none;
}

 a:hover {
  color: #333;
}


em {
  font-style: oblique;
}

strong {
  font-style: bold;
}

img {
  width: 100%;
}

h1,h2,h3,h4,h5 {
  font-style: normal;
  color: #333;

}

h3 {
  text-transform: uppercase;
  font-size: 1em;
  padding: 0 0 5% 0;
  font-weight: 300;
}


.menu {
  list-style: none;
  display: block;
}

li {
  display: inline-block;
}


#remodelmateid:hover {
	#particles-js {
		color { value:green;}
	}

}


/* a {
  text-decoration: none;}
} */

.nav {
	max-width: 960px;
	margin: 0 auto;

}
.nav .nav-right .menu {
  display: inline-block;
  text-align: right;
  float: right;
  margin: 5% 0;
  font-size: 1em;
}

.nav .nav-left {
  display: inline-block;
  text-align: left;
  float: left;
  margin: 5% 0;
  font-size: 1.2em;
}

.menu-item {
  padding-left: 16px;
  display: inline;
}

.menu-item a {
  color: #ccc;
	display: inline-block;
}

.menu-item a:hover {
  color: #333;
}

.current-page a {
	color: #333;
}

.content {margin: 0 10%;
z-index: 4;}

.intro {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 8%;
}

.intro h1 {
  font-size: 1.8em;
  text-align: left;
  color: #333;
  letter-spacing: 0.01em;
  font-weight: 300;
  line-height: 1.6;

}

.intro h2 {
	font-weight: 400;
	font-size: 1.5em;
	line-height: 1.6;
}


.intro a {
	font-weight: 400;
	color: #333;
}

.intro a:hover {
	font-weight: 400;
	color: #ccc;
}

/*This is for links within the intro*/
/* .intro p a {
  color: #012;
} */


/*This is for later styling of a h2 within the intro*/
/* .intro h2 {
  font-size: 1em;
  text-align: left;
  color: #333;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-weight: 800;
  line-height: 1.5em;
} */

.social, .social-bar, .social-icons {
  display: inline-block;
  text-align: left;
  float: left;
  font-size: 1em;
  padding-bottom: 8%;
  padding-top: 4%;



}
.icon-link {
  padding-right: 32px;
  display: inline-block;

}

.fa {
    color: #c0c4cC;
}

.fa:hover {
    color: #222;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border-width: 1px; /* Remove borders */
    /* outline: none; /* Remove outline */ */
    /* background-color: red; /* Set a background color */ */
    color: #b0b9bc; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 15px 10px 15px; /* Some padding */
    border-color: #b0b9bc;
    border-radius: 0px; /* Rounded corners */
}

#myBtn:hover {
    border-color: #222;
    /* background-color: #222; /* Add a dark-grey background on hover */ */
}


.project-list {
  margin: 0 auto;
  max-width: 960px;
}




.project-small {

  display: inline-block;
  min-width: 240px;
  /* padding: 2% 0%; */
  margin: 0 auto;
  margin-bottom: 10%;
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.project-small:hover {
	background-color: #fcfcfc;
  box-shadow: 0px 0px 10px #ddd;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
}

.post-item {
  display: inline-block;
  min-height: 100%;
  margin: 0 auto;
}


.post-item h2 {
  padding-left: 4% 0;
  padding-bottom: 1%;
  font-size: 1.5em;

}


.post-item h3 {
	letter-spacing: 1.5px;
}
.project-text {
  float: left;
  text-align: left;
  width: 40%;
  /* background-color: #fff; */
  /* height: 100%; */
  padding: 3% 3%;

}

.project-text p {
  line-height: 1.5;
  color: #333;
  letter-spacing: .01em;
  font-size: 1.2em;
  font-weight: 300;
}


.project-pic {
  width: 40%;
  max-width: inherit;
  float: left;
  padding: 3% 3%;

}

.post-img {
	max-width: inherit;
}


/******Styles for the case study pages******/


.case-study {
  margin: 0 10%;
}

.case-title {
  font-size: 3em;
  text-transform: capitalize;
  font-weight: 400;
  padding-top: 2%;
  padding-bottom:0;
}

.case-study h3 {
	font-size: 1.5em;
	letter-spacing: 1.1px;
	font-weight: 300;
	padding-bottom: 2%;
	text-transform: uppercase;
}

.case-study h2 {
	letter-spacing: 2px;
	font-weight: 400;
}

.case-study section {
	margin: 10 0px;
}

.case-subtitle {
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 2%;
  text-transform: uppercase;
}

.role  {
	font-size: 1.5em;
	font-weight: 200;
	padding-bottom: 2%;
	text-transform: uppercase;
}


.case-study h4 {
	font-weight: 400;
	font-size: 1.3em;
	padding-bottom: 1%;
}

.top-divider {
	margin-top: 2%;
	margin-bottom: 5%;
}

/*
.case-text {

} */

.case-text {
	margin: 5% 0;
}


.case-text p {
  font-size: 1.2em;
  line-height: 1.7em;
  font-weight: 300;
  padding-bottom: 3%;
}

.case-text .bold {
  font-weight: 400;
}

.case-text ul {
	padding-bottom: 2%;
	padding-left: 60px;
}

.case-text li {
	list-style-type: circle;
	font-weight: 300;
	display: list-item;
	line-height: 1.7;
	font-size: 1.2em;
	color: #222;
}

.case-text a {
	color: #222;
	font-weight: 400;
	text-decoration: underline;
}


.case-img {
  max-width: 960px;
  padding-bottom: 5%;
	margin: 0 auto;
}


.pic-too-big {
	max-width: 600px;
	display: block;
	float: none;
	margin: 0 auto;
}

.pic-too-small {
	width: 100%;
}


.small-pic {
	display: block;
	max-width: 300px;
	float: none;
	margin: 0 auto;
}

.pic-grid-section {
	display: block;
	/* margin: 0 auto; */
	max-width: 100%;
}
.pic-grid .pic-list {
	display: block;
	list-style-type: none;
	max-height: 100%;
	margin: 0 auto;


}

.pic-item {
	max-width: 45%;
	min-width: 45%;
	float: left;
	display: inline-block;

	margin: 5% 2%;
}


.more-vertical-padding {
	padding-bottom: 10% ;
}



/**********For Image Galleries***********/

.row {
  display: flex;
  flex-wrap: wrap;
	max-width: 100%;
  /* padding: 0 4px; */

}

/* Create four equal columns that sits next to each other */
.column {
  flex: auto;
  max-width: 45%;
  margin-right: 5%;
}

.column img {
  /* margin-bottom: 10%; */
  vertical-align: middle;
}

.gallery-item {
  display: inline-block;
  /* min-width: 240px; */
  /* padding: 2% 0%; */
  margin: 0 auto;
	margin-bottom: 10%;
  /* margin-bottom: 10%; */
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.gallery-item:hover {
  box-shadow: 0px 0px 10px #ddd;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
}




/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 740px) {
  .column {
    flex: auto;
    max-width: 50%;
		margin: 0;
  }


}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 739px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}








hr {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: inset;
    border-width: .5px;
    border-color: #ccc;
}

/**************PROJECT PREVIEWS*************/

.preview-section {
  /* margin-bottom: 10%; */
	margin: 2% 10% 10% 10%;

}


.project-preview-container {

}

.preview-section h3 {
  font-size: 1.7em;
  /* line-height: 1; */
}

.project-preview .project-text h2 {
  font-size: 1.4em;
	padding-bottom: 1%;


  /* padding-bottom: 2%; */

}
.project-preview .project-text h3 {
  font-size: 1em;

  /* padding-bottom: 2%; */

}

.project-preview-container .project-preview {
	display: inline-block;
  /* float: left;*/

	/* max-height: 50%; */
  /* max-height: 96px;
  padding: 5% 0;
  /* margin: 0 auto; */
  min-width: inherit;
	/* margin: 0 10%; */
	padding: 10 10%;

}

.project-list .project-pic {
  overflow: hidden;
	max-width: 100%;
}


 .preview-section .post-item {
	display: inline-block;
	/* float: left; */
	/* max-height: 100%; */
	max-width: 40%;
	/* min-width: 30%; */
	margin: 10px;
	/* padding: 2%; */


}


.project-preview {
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.project-preview:hover {
  box-shadow: 0px 0px 10px #ddd;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}



/*------------ABOUT PAGE------------*/


.about-content{
	display: block;
	margin:2%;
	padding: 0 3%;
}
.bio-info {
	width: 47%;
	max-width: inherit;
	float: left;
}

.bio-title {

	padding-bottom: 5%;
	font-size: 2.0em;
}

.bio-copy {
	font-weight: 300;
	padding-bottom: 5%;
	line-height: 1.6;
	font-size: 1.2em;

}

.social .contact {
	display: block;
	width: inherit;
}

.email-icon, .email-link a {
	color: #222;
}

.resume-link a {
	color: #222;

}

.resume-link {
	padding:5% 0;
}

.bio-photo {
	width: 40%;
	max-width: 350px;
	max-height: 600px;
	float: left;
	overflow: hidden;
	padding-left:  10%;

}

.myphoto {
	border-radius: 0px;
	box-shadow: 0px 5px 25px #ddd;
	max-width: 400px;



}

.clearfix::after {
    content: "";
    visibility: hidden;
    clear: both;
    display: block;
}


/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}




/**************** MEDIA QUERIES****************/










@media screen and (max-width: 600px) {

	.nav, .nav-left .nav-right .menu {
		padding: 20px 0;
		margin: 0 0;
		font-size: .8em;

	}

.case-study {
	margin: 0;
}

  .intro h1 {
    font-size: 1.2em;
    line-height: 1.6em;
  }

  .post-item h2 {
    padding-left: 4% 0;
    padding-bottom: 4%;
    font-size: 1.5em;

  }

  .project-small {
    display: inline-block;
    min-width: 100%;
  }


  .project-text {
    float: left;
    width: inherit;
    padding: 4% 4%;
  }

  .project-text p {
    line-height: 1.5;
    color: #333;
    letter-spacing: .03em;
    font-size: 1em;
    font-weight: 300;
  }

  .project-pic {
    width: inherit;
    max-width: 100%;
    /* min-width: 100%; */


  }

 .post-img img {
   min-width: 100%;
 }



 .preview-section .project-preview-container .post-item {
  display: block;
  /* float: left; */
  /* max-height: 100%; */
  max-width: 100%;
  /* min-width: 30%; */
  margin: 10px;
  /* padding: 2%; */
 }


 .project-preview-container .project-preview {
 	display: block;
 	padding: 5%;
 	margin: 0 10%;
 	width: inherit;
 	/* margin: 0 auto; */
	/* max-width: 60%; */
	/* float: left; */

 }

 .project-preview-container .project-pic {
 	overflow: hidden;
 	max-width: 100%;
	display: block;
 }

 .preview-section .post-item {
 	display: block;
 	float: left;
 	width: inherit;
	min-width: 40%;
	max-width: 40%;
	margin: 0 auto;

 }

 .project-preview h3 {
 	font-size: 1em;
 	position: relative;
 	line-height: 1.3;
 }

 .project-preview h2 {
 	font-size: 1.2em;
 	position: relative;
 	padding-bottom: 8%;

 }






 .bio-info {
 	width: 100%;
 	max-width: inherit;
 	float: left;
 }

 .bio-title {

 	padding-bottom: 5%;
 	font-size: 2.0em;
 }

 .bio-copy {
 	font-weight: 300;
 	padding-bottom: 5%;
 	line-height: 1.6;
 	font-size: 1.2em;

 }

 .social .contact {
 	display: block;
 	width: inherit;
 }

 .email-icon, .email-link a {
 	color: #222;
 }

 .bio-photo {
 	width: 100%;
 	max-width: inherit;
 	max-height: 600px;
 	float: right;
 	overflow: hidden;

 }

 .myphoto {
 	border-radius: 0px;
 	box-shadow: 0px 5px 25px #ddd;
 	max-width: 400px;



 }


 }





 @media screen and (max-width: 700px) {


 	/* .post-item h2 {
 		padding-left: 4% 0;
 		padding-bottom: 4%;
 		font-size: 1.3em;

 	} */

 	h3 {
 	  text-transform: uppercase;
 	  font-size: .8em;
 	  padding: 0 0 5% 0;
 	  font-weight: 300;
 	}

 	.project-text p {
 		line-height: 1.5;
 		color: #333;
 		letter-spacing: .03em;
 		font-size: .8em;
 		font-weight: 300;
 	}

 /******project previews******/

 	/* .project-list .project-preview {
 	  float: left


 	  padding:5%;
 	  /* margin: 0 auto; */
 	  width: inherit;
 		margin: 0 auto;
 	} */

 	.project-list .project-pic {
 	  overflow: hidden;
 		max-width: inherit;
 	}

 	.preview-section .post-item {
 		display: block;
 		float: left;
 		width: inherit;
 	}

 	.project-preview-container .post-item .project-preview h3 {
 	  font-size: .8em;
 	  position: relative;
 	  line-height: 1.3;
 	}

 	.project-preview h2 {
 	  font-size: 1.7em;
 	  position: relative;
 	  padding-bottom: 8%;

 	}




 	.bio-copy {
 	 font-weight: 300;
 	 padding-bottom: 5%;
 	 line-height: 1.6;
 	 font-size: 1.2em;

 	}

 }
